//共同样式设置
$bodyFontSize: 14px; //默认字体


//头部设置
$headHeight:50px;  //页面头部高度
$headBackgroud: pink; //头部背景色
$headColor: #000; //头部字体颜色


//底部设置
$footHeight: 60px; //底部高度
$footBackgroud: red; //底部背景色
$footColor: #000; //底部字体颜色